.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: 25vh;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 0.8rem;
    width: 100%;
    padding-top: 0.5rem;
  }

  @media only screen and (min-width: 768px) {
    width: 75%;
    margin: 0 auto;
  }

  @media only screen and (min-width: 1000px) {
    width: 35%;
    margin: 0 auto;
  }
}
