.alert {
  margin-top: 0;
  padding: 0.5rem 0;
  min-height: 3.5vh;
  background: #ed2b33ff;
  display: flex;
  align-items: center;

  p {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.015em;
  }
}

.navbar {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;

  ul {
    display: flex;
    justify-content: space-evenly;
    width: 50vw;

    @media (max-width: 700px) {
      display: none;
    }
  }

  button {
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background: #ed2b33ff;
    font-weight: bolder;
    cursor: pointer;
    border: none;

    @media (max-width: 700px) {
      display: none;
    }

    &:hover {
      background-color: white;
      color: #ed2b33ff;
      border: 1px solid #ed2b33ff;
    }
  }
}

.container {
  width: 100%;
  position: relative;

  &::after {
    content: "";
    background-image: url(/nav-btm-wave.svg);
    height: 6vh;
    background-position: center center;
    background-repeat: repeat-x;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: -5vh;
    left: 0;
    z-index: 2;
    // transform: rotate(180deg);
  }

  .mobile_nav {
    display: none;

    @media only screen and (max-width: 700px) {
      display: block;
    }
  }
}
