.mobile_ticket_container {
  position: fixed;
  bottom: 0;
  right: 25%;
  margin-bottom: 1rem;
  z-index: 99;

  button {
    width: 50vw;
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background: #ed2b33ff;
    font-weight: bolder;
    cursor: pointer;
    border: none;
  }

  @media (min-width: 700px) {
    display: none;
  }
}

.ticketCTA {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin: auto;
  padding: 3rem 0;

  button {
    width: 40vw;
    color: #a9a8b3;
    border: #a9a8b3;
    padding: 0.75rem 2rem;
    border-radius: 2px;
    background: #f8f7fa;
    font-weight: bolder;
    cursor: pointer;
    border: none;
  }
}
